k<div class="top-bar">
    Free shipping on orders over $60 • Handmade in small batches
</div>

<header class="main-header">
    <a href="/">
<img class="logo"
     src="{{ url_for('static',
     filename='images/branding/official_logo1.png') }}"
     alt="PETTY'S Handcrafted Soap">
    </a>

    <nav>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/about">About Us</a>
        <a href="/ingredients">Ingredients</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
