{% extends 'base.html' %}

{% block title %}{{ t.shop_title }} | PETTY'S CARE{% endblock %}
{% block content %}

<section class="page-title">
<h1>{{ t.shop_title }}</h1>
<p>{{ t.shop_subtitle }}</p>
</section>

<section class="collection">
    <div class="products shop-grid">
        {% for product in products %}
        <div class="shop-card">
            <img src="{{ url_for('static', filename='images/' + product.image) }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.short }}</p>
            <strong>${{ "%.2f"|format(product.price) }}</strong>
         <a class="btn" href="/products/{{ product.slug }}">
    {{ t.view_soap }}
</a>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
